:root {
    --primary-color: #664E32;
    --secondary-color: #cc9e69;
    --light-yellow-brown: #E6AF70;
    --padding-mobile: 0 8%;
}

html {
    box-sizing: border-box;

}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-image: url("images/concrete-texture.png");
}


/* headings */


h1, h2 ,h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    color: white;
    font-size: 70px;
    margin: 0;
    text-shadow: 0px 3px 6px #0000003d;
}

h1 span {
    display: block;
    font-size: 40px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 270px;
    color: white;
    font-size: 25px;
    text-shadow: 0px 3px 6px #000000;
    text-transform: uppercase;
}

h4 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin-top: 10px;
}


/* header and nav */

header {
    background-color: white;
}

header .fa-bars, header .fa-shopping-cart {
    font-size: 1.5em;
    color: var(--primary-color);
    margin-left: 20px;
}

#header-logo {
    height: 60px;
    padding-left: 8%;
}

.fa-shopping-cart, .label-hamburger {
    float: right;
}

.label-hamburger {
    padding-right: 8%;
    margin-top: 1.5em;
    cursor: pointer;
}

.fa-shopping-cart {
    margin-top: 1em;
}

nav {
    display: none;
    background-color:  rgba(179, 136, 88);
    height: 600px;
}

ul {
    padding: var(--padding-mobile);
    list-style-type: none;
    margin: 0;
}

li {
    padding: 1em 0;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.searchbar {
    border-style: unset;
    width: 70%;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    margin-top: 150px;
    padding: 13px;

}

.fa-search {
    justify-content: center;
    background-color: white;
    color: var(--primary-color);
    margin: 0;
    padding: 14px;
    padding-top: 13px;
    font-size: 18px;
}

#hamburger-menu {
    display:none;
}


#hamburger-menu:checked ~ nav {
    display: block;
}


/* button */

.button {
    padding: 1em;
    border-radius: 0;
    border-style: unset;
    background-color: var(--light-yellow-brown);
    border: 2px solid var(--light-yellow-brown);
    cursor: pointer;
    transition: 0.2s;
}

.button:hover {
    background-color: unset;
    color: white;
}



/* first section*/

.campaign-one__image {
    background-image: url("images/collov-home-design-js8AQlw71HA-unsplash\ kopi.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    padding: 200px 8%;
    
    
}


/* second section */

.get-inspired {
    padding: var(--padding-mobile);
    margin: 100px 0 50px 0;
}



/* third section */

.campaign-two {
    display:flex;
    height: 450px;
    text-align: center;
}


.campaign-two__image--1 {
    background-image: url("images/nine-koepfer-OZiflZqq0N0-unsplash\ kopi.jpg");
    background-size: cover;
    background-position: center center;
    width: 50%;
    padding: var(--padding-mobile);
}

.campaign-two__image--2 {
    background-image: url("images/denys-striyeshyn-wJ7yGwz2-00-unsplash\ kopi.jpg");
    background-size: cover;
    background-position: center center;
    width: 50%;
    padding: var(--padding-mobile);
}



/* fourth section */


.bestsellers {

    margin: 50px 0 200px 0;
    padding: var(--padding-mobile);
    
}

.bestsellers-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.bestsellers-item {
    flex: 0 0 auto;
    margin: 0 10px;
    background-color:  rgba(179, 136, 66, 0.329);
}

.bestsellers-item img {
    display: inline;
    height: 150px;
}

.bestsellers-item h4, .bestsellers-item p {
    padding: 0 15px;
}



/* footer */


footer {
    background-color: var(--primary-color);
    color: white;
    padding: 30px 0;
    text-align: center;
}

.footer-socials {
    font-size: 1.5em;
}

.footer-links {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}



@media (min-width: 1300px) {

    :root {
        --padding-mobile: unset;
    }

    #header-logo {
        height: 80px;
        padding-left: 12%;
    }

    .fa-shopping-cart {
        margin-top: 1.7em;
    }

    .label-hamburger {
        display: none;
    }

    nav {
        display: block;
        height: 70px;
        line-height: 70px;
        padding: 0 12%;
    }

    ul {
        display: flex;
    }

    li {
        padding: 0;
        margin-right: 30px;
    }

    li a {
        font-size: 16px;
        padding: 0;
    }

    li a:hover {
        color: white;
        transition: 0.2s;
    }

    .search {
        width: 70%;
        text-align: end;
        float: right;
        margin: 0;
    }

    .searchbar  {
        margin: 0;
        padding: 10px;
    }


    .fa-search {
        padding: 10px;
        padding-bottom: 11px;
        
    }

    .container-desktop {
        margin: 0 12%;
    }

    .campaign-one__image {
        height: 650px;
        padding: 300px 8%;
    }

    .fa-shopping-cart {
        padding-right: 12%;
    }

    .get-inspired {
        max-width: 80%;
    }

    .campaign-two {
        display:flex;
        height: 600px;
        text-align: start;
    }

    .campaign-two__image--1, .campaign-two__image--2 {
        padding-left: 8%;
    }

    .campaign-two h3 {
        margin-top: 350px;
    }

    .bestsellers-item img {
        height: 230px;
    }

    .footer-links {
        display: flex;
        margin-top: 30px;
    }
}

@media (min-width: 1600px) {

    .campaign-one__image {
        height: 750px;
        padding: 400px 8%;
    }
}